{
  "plugins": ["prettier"],
  "extends": ["prettier", "react-app", "unused-imports" ],
  "rules": {
    "no-unused-vars": "warn",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "no-console": "error"
  }
}
