{
  "plugins": ["prettier", "unused-imports"],
  "extends": ["prettier", "react-app"],
  "rules": {
    "no-unused-vars": "warn",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  }
}
