.info-container {
  font-family: 'Poppins';
  border: 1px solid #5038BC;
  padding: 3rem 3rem;
  border-radius: 0.8rem;
  background-color: #F8F8F8;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
}