.landingPage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  justify-content: space-between;
  height: 100vh;
  background-color: #191919;
  color: white;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20vh;
}

.gojekLogo {
  width: 20rem;
}

@media screen and (max-width: 900px) {
  .landingPage {
    height: 90vh;
  }
}

.center {
  text-align: center;
}

.tagline {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.tagline img {
  max-height: 10rem;
  object-fit: contain;
}

.display-logo img {
  max-height: 3.5rem;
}

.login {
  padding-bottom: 7.5%;
}

.center h1 {
  line-height: 3rem;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
  display: inline-block;
  color:white;
}

.center h1 span {
  color: #F2994A;
}

.center .broughtToYouLogo {
  max-height: 3.5rem;
}

.loginButton {
  padding: 0.75rem 10rem;
  margin: 1rem 0 0;
  color: #ffffff;
  background: #F2994A;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s background ease;
}

.loginButton:hover,
.loginButton:active {
  background: #ce9d4d;
  transition: 0.25s background ease;
}

.display-logo .broughtToYou {
  display: none;
}

.gojek {
  margin-top: 5rem;
}

.gojek span {
  display: none;
}

.center .gojekLogo {
  max-height: 6rem;
}

.display-logo .gojek {
  display: none;
}

@media screen and (max-width: 768px) {
  .landingPage {
    justify-content: center;
  }

  .broughtToYou {
    display: none;
  }

  .gojek {
    display: none;
  }

  .center h1 {
    font-size: 3rem;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loginButtonWrapper {
    width: 100%;
  }

  .loginButton {
    font-size: 1rem;
    padding: 0.75rem;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    max-width: 20rem;
  }

  .display-logo > img {
    display: none;
  }

  .tagline {
    display: none;
  }

  .display-logo .broughtToYou {
    display: block;
  }

  .display-logo .broughtToYou span {
    display: block;
  }

  .center .gojekLogo {
    max-height: 5rem;
  }

  .display-logo .gojek {
    display: block;
    margin-top: 0;
  }

  .gojek p {
    display: none;
  }

  .gojek span {
    display: block;
  }
}
